<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArqueSys - Página Inicial</title>
</head>
<body>
    <div class="buttons">
        <a href="/inicial/pedido" style="text-decoration:none" ><button class="pedido">Novo pedido</button></a>
        <a href="/inicial/servico" style="text-decoration:none" ><button class="servico">Novo serviço</button></a>
        <a href="/inicial/cliente" style="text-decoration:none" ><button class="cliente">Novo cliente</button></a>
        <a href="/inicial/fornecedor" style="text-decoration:none" ><button class="fornecedor">Novo fornecedor</button></a>
        <a href="/inicial/compras" style="text-decoration:none" ><button class="compras">Nova lista de compras</button></a>
        <a href="/inicial/pagamentos" style="text-decoration:none" ><button class="pagamentos">Novo pagamento</button></a>
        <a href="/inicial/lista/pedidos" style="text-decoration:none" ><button class="listapedidos">Pedidos</button></a>
        <a href="/inicial/lista/servico" style="text-decoration:none" ><button class="listaservico">Serviços</button></a>
        <a href="/inicial/lista/cliente" style="text-decoration:none" ><button class="listacliente">Clientes</button></a>
        <a href="/inicial/lista/fornecedor" style="text-decoration:none" ><button class="listafornecedores">Fornecedores</button></a>
        <a href="/inicial/lista/compras" style="text-decoration:none" ><button class="listacompras">Lista de compras</button></a>
        <a href="/inicial/lista/pagamentos" style="text-decoration:none" ><button class="listapagamentos">Pagamentos</button></a>
        <a href="/inicial/relatorios" style="text-decoration:none" ><button class="relatorio">Relatórios</button></a>
    </div>
</body>
</html>