<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArqueSys - Página Inicial</title>
</head>
<body>
    <div class="buttons">
        <a href="/pedido" style="text-decoration:none" ><button class="pedido">Novo pedido</button></a>
        <a href="/servico" style="text-decoration:none" ><button class="servico">Novo serviço</button></a>
        <a href="/cliente" style="text-decoration:none" ><button class="cliente">Novo cliente</button></a>
        <a href="/fornecedor" style="text-decoration:none" ><button class="fornecedor">Novo fornecedor</button></a>
        <a href="/compras" style="text-decoration:none" ><button class="compras">Nova lista de compras</button></a>
        <a href="/lista/pedidos" style="text-decoration:none" ><button class="listapedidos">Pedidos</button></a>
        <a href="/lista/fornecedor" style="text-decoration:none" ><button class="listafornecedores">Fornecedores</button></a>
        <a href="/lista/compras" style="text-decoration:none" ><button class="listacompras">Lista de compras</button></a>
        <a href="/relatorios/inicial" style="text-decoration:none" ><button class="relatorio">Relatórios</button></a>
    </div>
</body>
</html>