<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista de fornecedores </title>
</head>
<body>
    <table border="1">
        <tr>
            <th> ID </th>
            <th> Nome </th>
            <th> Endereço </th>
            <th> Telefone </th>
        </tr>
        {% for item in data %}
        <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.nome_forne }} </td>
            <td> {{ item.endereco }} </td>
            <td> {{ item.telefone }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>