<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista de compras </title>
</head>
<body>
    {% extends "base.html"%}

    {% block content %}
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
        <tr>
            <th> ID </th>
            <th> Fornecedor </th>
            <th> Items </th>
        </tr>
        {% for item in data %}
        <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.nome_forne }} </td>
            <td> {{ item.descricao }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    {% endblock %}
</body>
</html>