<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <script type="text/javascript">
        function valida_dados (boxpedido){
            if (boxpedido.cliente.value=="Selecione"){
                alert ("Por favor selecione a clínica para prosseguir.");
                boxpedido.cliente.focus();
                return false;
            }
        }
    </script>
</head>

<body>
    <form class="boxpedido" action="pedido" method="post" onSubmit="return valida_dados(this)">
        <div>
            <label> Escolha o cliente </label>        
            <select class="cliente" name="cliente" >
                <option> Selecione </option>
                {% for item in clientes %}
                <option> {{ item[0] }} </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label> Paciente </label>
            <input type="text" class="paciente" name="paciente" placeholder="Digite aqui">
        </div>
        <div>
            <label> Escolha o serviço e valor </label>
            <select class="servico" name="servico" >
                <option> Selecione </option>
                {% for item in servicos %}
                <option> {{ item[0] }}; {{ item[1] }} </option>
                {% endfor %}
            </select>
        </div>
        <button class="cadastrar" type="submit" > Cadastrar </button>
        <a href="/inicial" style="text-decoration:none" ><button class="cancelar" >Cancelar </button></a>
    </form>
</body>
</html>