<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Relatório </title>
</head>
<body>
    <table border="1">
        <tr>
            <th> Clínica</th>
            {% for item in data %}
            <td> {{item[1]}} </td>
            {% endfor %}
        </tr>
        <tr>
            <th> ID </th>
            <th> Paciente </th>
            <th> Serviço </th>
            <th> Valor </th>
        </tr>
        {% for item in data %}
        <tr>
            <td> {{ item[0] }} </td>
            <td> {{ item[2] }} </td>
            <td> {{ item[3] }} </td>
            <td> {{ item[4] }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>