<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços </title>

    <script type="text/javascript">
        function valida_dados (boxservico){
            if (boxservico.servico.value==""){
                alert ("Por favor digite o nome do serviço para prosseguir.");
                boxservico.servico.focus();
                return false;
            }
        }
    </script>
</head>
<body>
    <form class="boxservico" action="servico" method="post" onSubmit="return valida_dados(this)">
        <div>
            <label> Nome serviço </label>
            <input type="text" name="servico" class="servico" placeholder="Digite aqui">
        </div>
        <div>
            <label> Valor </label>
            <input type="number" step="0.01" name="valor" class="valor" placeholder="Digite aqui">
        </div>
        
        <button class="cadastrar" type="submit" > Cadastrar </button>
        <a href="/inicial" style="text-decoration:none" ><button class="cancelar" >Cancelar </button></a>
    </form>
</body>
</html>