<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for item in pedido %}
    <title>Pedido Detalhes - {{item[0]}} </title>
    {% endfor %}
    <script type="text/javascript">
        var excluir = boxpedidocadastrado.querySelector(".excluir")
        var alterar = boxpedidocadastrado.querySelector(".alterar")
        var reabrir = boxpedidocadastrado.querySelector(".reabrir")
        reabrir.disabled = true;
        function finalizar_pedido(boxpedidocadastrado){
            var fin = confirm('Deseja finalizar o pedido?');
            if (fin==true){
                excluir.disabled = true;
                alterar.disabled = true;
                reabrir.disabled = false;
            }
            else{
                excluir.disabled = false;
                alterar.disabled = false;
                reabrir.disabled = true;
            }
        }
    </script>
</head>
<body>
    <button class="alterar" > Alterar </button>
    <button class="excluir" > Excluir </button>
    <button class="reabrir" > Reabrir </button>
    {% for item in pedido %}
    <form class="boxpedidocadastrado" action="/pedido/{{item[0]}}" method="post">
        {% endfor %}
        <div>
            <label> Número pedido </label>
            {% for item in pedido %}
            <input type="text" id="num_pedido" value="{{item[0]}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Cliente </label>
            {% for item in pedido %}
            <input type="text" id="clinica" value="{{item[1]}}" readonly>
            {% endfor %}
            </select>
        </div>
        <div>
            <label> Paciente </label>
            {% for item in pedido %}
            <input type="text" class="paciente" name="paciente" value="{{item[2]}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Serviço </label>
            {% for item in pedido %}
            <input type="text" class="servico" name="servico" value="{{item[3]}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Valor </label>
            {% for item in pedido %}
            <input type="text" class="valor" name="valor" value="{{item[4]}}" readonly>
            {% endfor %}
        </div>
        <button class="finalizar" type="submit" onclick="finalizar_pedido()" > Finalizar </button>
    </form>
</body>
</html>