@import url(shared.css);

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, var(--darker_blue), var(--light_blue),var(--light_blue));
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.btnCancel
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #cc0033;
    color: #fff;
}
.btnSecondary{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #757475;
    color: #fff;
}


.button {
    background-color: rgb(33, 20, 220);  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
  }


.button:focus,
.button:hover {
  background-color: rgb(19, 43, 151);
  color: White;
}
