
:root {
    --darker_blue: #030140;
    --medium_blue: #2e338c;
    --light_blue:#2BA8D9;
    --baby_blue:#ACDEF2;
    --light_green:#91D2D9;
    --submit:#0062cc;
    --cancel:#cc0033;
    height: 100%;
    width: 100%;
  }


  .navbar-light .navbar-nav .nav-link {
    color: #000000;
    transition: 0.3s;

}

.nav-link:hover {
  opacity: 1;
  background-color: rgb(205, 205, 207);
  }
