    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
      
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
  
                <a class="nav-link" href="/inicial" >Home</a>
            </li>
            <li class="nav-item">
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/pedido" >Novo pedido</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/servico" > Novo serviço</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/cliente" >Novo cliente</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/fornecedor" > Novo fornecedor</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/compras"  > Nova lista de compras</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/pagamentos" >Novo pagamento</a>
              </li>
              <li class="nav-item">
  
                  <a class="nav-link" href="/inicial/lista/pedidos" > Pedidos </a>
              </li>
  
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/inicial/lista/servico" > Serviços</a>
  
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/inicial/lista/cliente" > Clientes</a>
  
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/inicial/lista/fornecedor" > Fornecedores</a>
  
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/inicial/lista/compras" > Lista de compras</a>
  
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/inicial/lista/pagamentos" > Pagamentos</a>
  
              </li>
              <li class="nav-item">

              <a class="nav-link" href="/inicial/relatorios" > Relatórios</a>
              </li>

              <li class="nav-item">

                <a class="nav-link" href="/logout" style="align-items: left;"> Logout</a>
                </li>
  
          </ul>
            </ul>
          </div>
        </div>
      </nav>
      <div id="content">{% block content %}
        
        {% endblock %}
    </div>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
