<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Entre em contato</title>
    <link rel="stylesheet" href="../static/forms.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>
<body>
   
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Dados de Contato</p>
            </div>

            <div class="form-content" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control"  name="name" placeholder="Seu Nome *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="phone" placeholder="Número de Telefone *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Seu Email *" value=""/>
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="btnSubmit">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>