<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Criar Usuário ArqueSys</title>
    <link rel="stylesheet" href="../static/forms.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <form class="box-login" action="criar-usuario" method="post">

        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Criar usuário</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Digite o seu email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password"
                                    placeholder="Digite a sua senha">

                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" value="Criar usuário" class="btnSubmit">Criar usuário</button>

            </div>
        </div>
        </div>
    </form>

</body>

</html>
