<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Relatório </title>
</head>
<body>
    
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab" >
        <tr>
            <th> Clínica</th>
            {% for item in data %}
            <td> {{item.nome_clinica}} </td>
            {% endfor %}
        </tr>
        <tr>
            <th> ID </th>
            <th> Paciente </th>
            <th> Serviço </th>
            <th> Valor </th>
        </tr>
        {% for item in data %}
        <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.paciente }} </td>
            <td> {{ item.servico }} </td>
            <td> {{ item.valor }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>