<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Relatório </title>
</head>

<body>
  
    <div class="wrapper">
        <div class="title">
            Fechamento <div class="line"></div>
        </div>
        <div class="container">
            <div class="table">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                        
                        </tr>
                        <tr>
                            <td>Id</td>
                            <td>Paciente</td>
                            <td>Serviço</td>
                            <td>Valor</td>
                            <td>Data Criação</td>
                            <td>Data Finalização</td>
                            <td>Clinica</td>


                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td> {{ item.id }} </td>
                            <td> {{ item.paciente }} </td>
                            <td> {{ item.servico }} </td>
                            <td> {{ item.valor }} </td>
                            <td> {{ item.data_criacao }} </td>
                            <td> {{ item.data_finalizacao }} </td>
                            <td colspan="100%"  > {{ item.clinica }} </td>


                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                <div </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>

</html>