<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras Detalhes </title>
    <script src="../static/show_compras.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">

    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    {% extends "base.html"%}

    {% block content %}

    {% for item in compras %}
    <form class="boxcompras" action="/inicial/compras/{{item.id}}" method="post">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Compras</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" {% endfor %} <div>
                                <label> Fornecedor </label>
                                {% for item in compras %}
                                <input type="text" class="form-control" value="{{item.nome_forne}}" readonly>
                                {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label> Descrição </label>
                                {% for item in compras %}
                                <input type="text" class="form-control" name="valor" value="{{item.descricao}}"
                                    readonly>
                                </div>
                            </div>
                            </div>
                            <br>

                            <button type="submit" class="btnSubmitShow">
                                <a class="anchorShow" href="/inicial/compras/{{item.id}}">
                                    Confirmar e Salvar
                                </a>
                            </button>
                            <button class='btnCancelShow'>
                                <a class="anchorShow" href="/inicial/lista/compras"> Ir para Lista</a>
                            </button>
                            </button>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}

</body>

</html>