<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedor Detalhes </title>
    <script src="../static/show_fornecedor.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    {% extends "base.html"%}

    {% block content %}

    {% for item in forne %}
    <form class="boxfornecedor" action="/inicial/fornecedor/{{item.id}}/editar" method="post">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Fornecedores</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% endfor %}
                                <div>
                                    <label> Número fornecedor </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" id="num_forne" value="{{item.id}}" readonly>
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Fornecedor </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="fornecedor"
                                        value="{{item.nome_forne}}">
                                    {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label> Endereço </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="endereco" value="{{item.endereco}}">
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Número </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="numero" value="{{item.numero}}">
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Complemento </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="complemento"
                                        value="{{item.complemento}}">
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Bairro </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" class="bairro" name="bairro"
                                        value="{{item.bairro}}">
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Cidade </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="cidade" value="{{item.cidade}}">
                                    {% endfor %}
                                </div>
                                <div <label> Estado </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="estado" value="{{item.estado}}">
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Telefone </label>
                                    {% for item in forne %}
                                    <input class="form-control" type="text" name="telefone" value="{{item.telefone}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btnSubmitShow">
                        <a class="anchorShow" href="/inicial/fornecedor/{{item.id}}">
                            Confirmar e Salvar
                        </a>
                    </button>
                    <button class='btnCancelShow'>
                        <a class="anchorShow" href="/inicial/lista/fornecedor"> Ir para Lista</a>
                    </button>
                    {% endfor %}
    </form>
    {% endblock %}

</body>

</html>