<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço Detalhes</title>
    <script src="../static/show_servico.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    {% extends "base.html"%}
    {% block content %}

    {% for item in servico %}
    <form class="boxservico" action="/inicial/servico/{{item.id}}/editar" method="post">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Servicos</p>
                </div>
                {% endfor %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <label> Número serviço </label>
                                    {% for item in servico %}
                                    <input type="text" id="num_servico" class="form-control" value="{{item.id}}"
                                        readonly>
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Serviço </label>
                                    {% for item in servico %}
                                    <input type="text" class="form-control" name="servico" value="{{item.servico}}"
                                        >
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Valor </label>
                                    {% for item in servico %}
                                    <input type="text" class="form-control" name="valor" value="{{item.valor}}"
                                        >
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmitShow">
                    <a class ="anchorShow" href="/inicial/servico/{{item.id}}"> 
                        Confirmar e Salvar
                    </a> 
                </button>
                <button class='btnCancelShow'>
                    <a href="/inicial/lista/servico"> Ir para Lista</a>
                </button>
                {% endfor %}
    </form>
    {% endblock %}

</body>

</html>