<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/forms.css">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for item in pedido %}
    <title>Pedido Detalhes - {{ item.id}} </title>
    {% endfor %}

    <script src="../static/show_pedido.js"></script>

</head>
<body>
    
    {% for item in pedido %}
    <form class="boxpedidocadastrado" action="/inicial/pedido/{{ item.id}}" method="post">
        {% endfor %}
        <div>
            <label> Número pedido </label>
            {% for item in pedido %}
            <input type="text" id="num_pedido" value="{{ item.id}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Cliente </label>
            {% for item in pedido %}
            <input type="text" id="clinica" value="{{item.clinica}}" readonly>
            {% endfor %}
            </select>
        </div>
        <div>
            <label> Paciente </label>
            {% for item in pedido %}
            <input type="text" class="paciente" name="paciente" value="{{item.paciente}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Serviço </label>
            {% for item in pedido %}
            <input type="text" class="servico" name="servico" value="{{item.servico}}" readonly>
            {% endfor %}
        </div>
        <div>
            <label> Valor </label>
            {% for item in pedido %}
            <input type="text" class="valor" name="valor" value="{{item.valor}}" readonly>
            {% endfor %}
        </div>
        <button class="finalizar" type="submit" onclick="finalizar_pedido()" > Finalizar </button>
        <a class="gravar" href="/inicial/lista/pedidos"> Ok </a>

    </form>
</body>
</html>