<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pedido Detalhes </title>


    <script src="{{ url_for('static', filename='forms.css') }}  ""></script>

</head>

<body>
    {% extends "base.html"%}
    {% block content %}
    {% for item in pedido %}
    <form class="boxpedidocadastrado" action="/inicial/pedido/{{item.id}}/editar" method="post">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Pedidos</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% endfor %}
                                <div>
                                    <label> Número pedido </label>
                                    {% for item in pedido %}
                                    <input class="form-control" type="text" id="num_pedido" value="{{ item.id}}"
                                        readonly>
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Cliente </label>
                                    {% for item in pedido %}
                                    <input class="form-control" type="text" name="cliente" value="{{item.clinica}}">
                                    {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label> Paciente </label>
                                    {% for item in pedido %}
                                    <input class="form-control" type="text" name="paciente"
                                        value="{{item.paciente}}" >
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Serviço </label>
                                    {% for item in pedido %}
                                    <input class="form-control" type="text"  name="servico"
                                        value="{{item.servico}}" >
                                    {% endfor %}
                                </div>
                                <div>
                                    <label> Valor </label>
                                    {% for item in pedido %}
                                    <input class="form-control" type="text" name="valor"
                                        value="{{item.valor}}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btnSubmitShow" type="submit" onclick="finalizar_pedido()"> Finalizar </button> -->
                        
                        <button type="submit" class="btnSubmitShow" >
                            <a class ="anchorShow" href="/inicial/pedido/{{item.id}}"> 
                                Confirmar e Salvar
                            </a>  
                        </button>
                        <button class='btnCancelShow'>
                            <a class="anchorShow" href="/inicial/lista/pedidos"> Ir para Lista</a>
                        </button>

                 
                        {% endfor %}

    </form>
    <br>
    <br>
    {% for item in pedido %}
    <form action="/inicial/pedido/{{item.id}}/finalizar">
        <button type="submit" class="btnSubmitShow">
            
            <a class ="anchorShow""> 
                Finalizar Pedido
            </a> 
        </button>
        {% endfor %}

    </form>
    {% endblock %}

</body>

</html>