<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Detalhes </title>
    <script src="../static/show_cliente.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}  ">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {% extends "base.html"%}
    {% block content %}
    {% for item in cliente %}

    <form class="boxcliente" action="/inicial/cliente/{{item.id}}/editar" method="POST">
        {% endfor %}
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Clientes</p>
                </div>
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>

                                    <div>
                                        <label> Número cliente </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" id="num_cliente" value="{{item.id}}"
                                            readonly>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Cliente </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name ="cliente" 
                                            value="{{item.nome_clinica}}" >
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <label> Endereço </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="endereco"
                                            value="{{item.endereco}}" >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Número </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="numero" value="{{item.numero}}"
                                            >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Complemento </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="complemento"
                                            value="{{item.complemento}}" >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Bairro </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="bairro" value="{{item.bairro}}"
                                            >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Cidade </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="cidade" value="{{item.cidade}}"
                                            >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Estado </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="estado" value="{{item.estado}}"
                                            >
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <label> Telefone </label>
                                        {% for item in cliente %}
                                        <input class="form-control" type="text" name="telefone"
                                            value="{{item.telefone}}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <button type="submit" class="btnSubmitShow">
                        <a class="anchorShow" href="/inicial/cliente/{{item.id}}">
                            Confirmar e Salvar
                        </a>
                    </button>
                    <button class='btnCancelShow'>
                        <a class="anchorShow" href="/inicial/lista/clientes"> Ir para Lista</a>
                    </button>
                    {% endfor %}

    </form>
    {% endblock %}

</body>

</html>